*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img,
picture {
    max-width: 100%;
    display: block;
}

button,
input,
select,
textarea {
    font: inherit;
}

body {
    min-height: 100vh;
    text-rendering: optimizespeed;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: 'Poppins', sans-serif;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
    display: block
}


/*KLEUR PALLET*/
:root {
    --primary-accent-color: #7AB237;
    --primary-accent-color-light: #CAF596;
    --primary-text-color-dark: #000000;
    --primary-text-color-light: #fff;
    --secondary-text-color: #5F6367;

    --sunburst-segment-inbox: #CA1818;
    --sunburst-segement-subscriptions: #FAA41B;
    --sunburst-segment-spam: #FFD45B;
    --sunburst-segment-bin: #C9E58C;
    --sunburst-segment-sent: #7BA591;
    --suburst-segment-archive: #8CE5A0;
    --sunburst-segment-duplicates: #F15B4C;
    --sunburst-segment-drafts: #2C736C;

    --sky-background-color: #DEEFFF;
    --sky-cloud-color: #5EB2E5;

}