*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img,
picture {
    max-width: 100%;
    display: block;
}

button,
input,
select,
textarea {
    font: inherit;
}

body {
    min-height: 100vh;
    text-rendering: optimizespeed;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.6;
    font-family: "Source Sans Pro", sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: "Montserrat", sans-serif;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
}