.sunburst-body {
    min-height: 100vh;
    background-color: var(--sky-background-color);
    background-image: url(../images/illustrations/clouds_pattern_light.svg);
    background-position: -5rem;
}


.slice {
    cursor: pointer;
}

.slice .main-arc {
    stroke: #fff;
    stroke-width: 1px;
}

.slice .hidden-arc {
    fill: none;
}

.slice text {
    pointer-events: none;
    text-anchor: middle;
}

g[data-content="Sunburst49"] {
    display: none;
}


.messages-container {
    display: grid;
    grid-template-columns: 60% 40%;
    margin: 2rem 5rem;
}

.sunburst {
    position: relative;
    height: min-content;
    margin-left: 25%;
    align-self: center;


    svg {
        z-index: 2;
        position: relative;
    }
}

.sunburst-center-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    &__title {
        font-size: 8rem;
        font-weight: 400;
    }

    &__text {
        font-size: 4rem;
    }

}

.info-btn {
    z-index: 4;
    background: transparent;
    position: absolute;
    left: 50%;
    top: 78%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    border: transparent;
}

.sunburst-popup {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation-name: zoom;
    animation-duration: 1s;

}

.open {
    display: block;
}

.hide {
    display: none;
}




@keyframes zoom {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}